


body{
    font-size: 24px;
    margin: 0;
    background-color: SkyBlue;

}
h1{
    background-color: SteelBlue;
    color: white;
    margin: 0;
    padding: 20px;
}
.box{
    display: flex;
}
.block{
    background-color: Silver;
    margin: 20px 10px;
    border-radius: 10px;
    padding: 20px 10px;
}
.bc{
    background-color: white;
    max-width: 90%;
    margin: 10px 0 20px 20px;
    border-radius: 10px;
    padding: 10px;
}
ul{
    list-style: none;
    margin-left: -20px;;
}
.icon{
    display: flex;
    justify-content: space-between;
    

}
.icon.icon--nc:nth-child(2n){
    margin: 0 5px 0 20px;
}


